html{
    font-size: 16px;
}
button{
    font-size: 3rem;
    border-radius: 20%;
}
#display{
    width: 500px;
    height: 100px;
    box-sizing: border-box;
    background-color: lightgrey;
    border:2px black solid;
    text-align: end;
    font-size: 3rem;
}
#btns{
    background-color: rgb(233, 232, 219);
    border:2px black solid;
    display: flex;
    width: 500px;
    box-sizing: border-box;
    padding: 3px;
    flex-direction: column;
    row-gap: 5px;
}
#b1{
    flex: 1;
    display: flex;
}
#clear{
    flex: 2.5;
}
#backspace{
    flex: 1;
}
#b2{
    flex: 1;
    display: flex;
}

#num-container{
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#operator-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    
}
.number{
    flex: 1;
}

