#display{
    width: 500px;
    height: 100px;
    background-color: lightgrey;
    border:2px black solid;
    text-align: end;
    font-size: 5rem;
}
#btns{
    border:2px black solid;
    display: flex;
    width: 500px;
}
/* how to make layout like3*4? */
.num-container{
    flex: 2;
    display: flex;
}
.operator-container{
    flex: 1;
}